/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0 150px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: #5a5a5a;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 100px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: 'wght' 311;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.8rem;
  color: #001f54;
  outline: none;
  text-align: center;
}

.title:hover {
  font-variation-settings: 'wght' 582;
  letter-spacing: 1px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.about-container__tagline {
  padding-bottom: 1rem;
}

.about-container__content {
  line-height: 150%;
  color: gray;
}

.users-container,
.user-container,
.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.posts-container a {
  text-decoration: none;
  color: black;
}

.user-card {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 2%;
  gap: 1rem;
}

.user-card__content {
  padding: 2.5rem 1rem;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px;
  width: 31rem;
  border-radius: 10px;
  text-decoration: none;
}

.user-img {
  width: 8rem;
  height: auto;
  border-radius: 10px;
}

.username {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.username:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #274c77;
}

.postscount {
  display: flex;
  justify-content: flex-end;
}

.user-bio,
.user-post__content,
.user-comment__item {
  padding: 0.5rem 1rem;
  margin-top: 1.5%;
  width: 40rem;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px;
}

.user-comment__content {
  display: flex;
  justify-content: space-between;
}

.comment {
  padding: 0.5rem 0 2rem;
}

.allposts {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.user-action {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 2rem;
}

.allposts-btn,
.comment-btn,
.like-btn,
.createpost-btn input,
.actions input {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: #accbe1;
  color: #274c77;
  box-shadow: rgba(141, 136, 136, 0.2) 0 2px 8px 0;
  font-weight: bold;
  border: none;
  text-decoration: none;
  font-size: 14px;
}

.pagination {
  margin: 1rem 0;
}

.createpost-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  box-shadow: rgba(141, 136, 136, 0.2) 0 2px 8px 0;
  background-color: #eaf4f4;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}

.form-input input,
.field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
}
