/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 2%;
  gap: 1rem;
}

.user-item__content {
  padding: 2.5rem 1rem;
  border: 1px solid #ccc;
  width: 35rem;
  border-radius: 5px;
  text-decoration: none;
}

.user-img {
  width: 9rem;
  height: auto;
  border-radius: 5px;
}

.username {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.username:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #219ebc;
}

.postscount {
  display: flex;
  justify-content: flex-end;
}
